<h1>Welcome to CSE Motors</h1>
<div>
    <img src="/images/vehicles/delorean.jpg" alt="image of car" loading="lazy" height="300" width="900">
    <div class="text">
        <p>DMC Delorean</p>
        <p>3 cup holders</p>
        <p>Superman doors</p>
        <p>Fuzzy dicel</p>
        <img src="/images/site/own_today.png" alt="image of the action to be taken" loading="lazy">
    </div>
</div>
<div class="coast">
    <section>
        <h2>DMC Dolerean Reviews</h2>
        <ul class="dislist">
            <li>"So fast it is like traveling in time."</li>
            <li>"Coolest ride on the road"</li>
            <li>"I am feeling MCfly"</li>
            <li>"The most futuristic ride of our time"</li>
            <li>"80's livin and love it! (5/5)"</li>
        </ul>
    </section>
    <section>
        <h2>Delorean Upgrades</h2>
        <div class = "up">
            
            <div class="sticker">
                <img src="/images/upgrades/bumper_sticker.jpg" alt="image of bumper" loading="lazy">
                <p>Bumper_Stickers</p>
            </div>
            <div class="flame">
            
                <img src="/images/upgrades/flame.jpg" alt="image of flame" loading="lazy">
                <p>Flame Decals</p>
            </div>
            <div class="flux">
            
                <img src="/images/upgrades/flux-cap.png" alt="image of flux cap" loading="lazy">
                <p>Flux Capacitor</p>
            </div>
            <div class="hub">
            
                <img src="/images/upgrades/hub-cap.jpg" alt="image of hub-cap" loading="lazy">
                <p>Hub-Caps</p>
            </div>
        </div>
    </section>
</div>