@media screen and (min-width: 38rem){
 .coast {
    display: grid;
    grid-template-columns: 1fr 1fr;
 }
 .coast section:first-child {
    order: 2;
 }
 .coast section:last-child {
    order: 1;
 }

/* Inventory Detail - Large Screen - Side by Side Layout */
#inv-detail-container {
   flex-direction: row;
   align-items: flex-start;
   gap: 3rem;
}

.vehicle-image {
   flex: 0 1 50%;
   max-width: 50%;
}

.vehicle-details {
   flex: 0 1 50%;
   max-width: 50%;
}

.vehicle-title {
   font-size: 2.5rem;
}

.vehicle-price {
   font-size: 2.5rem;
}

}